html {
  background: url(../images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover; }

body {
  font-size: 13px;
  line-height: 17.55px;
  color: #222222;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px 0 0; }

a {
  transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -webkit-transition: color 0.25s linear;
  color: #3a84cf;
  font-weight: bold;
  text-decoration: none; }
  a:hover {
    color: #2eb82e; }

#page {
  margin: 0 auto;
  width: 960px; }

article.full {
  background: white;
  margin: 0 0 15px;
  opacity: 0.9;
  padding: 10px;
  text-align: justify;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 2px 0 #555555;
  -o-box-shadow: 0 0 2px 0 #555555;
  -moz-box-shadow: 0 0 2px 0 #555555;
  -webkit-box-shadow: 0 0 2px 0 #555555;
  float: left;
  width: 615px; }
  article.full h1 {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 7.5px; }
  article.full p {
    font-size: 13px;
    line-height: 17.55px; }
  article.full h1, article.full h2 {
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 15px;
    padding: 0; }
  article.full h2 {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 7.5px;
    padding: 0; }
  article.full p {
    font-size: 14px;
    line-height: 18.9px; }
  article.full iframe {
    margin: 15px auto;
    display: block; }
  article.full .highlight {
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    text-align: justify;
    background: #222222;
    margin: 15px; }

article.featured {
  background: white;
  margin: 0 0 15px;
  opacity: 0.9;
  padding: 10px;
  text-align: justify;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 2px 0 #555555;
  -o-box-shadow: 0 0 2px 0 #555555;
  -moz-box-shadow: 0 0 2px 0 #555555;
  -webkit-box-shadow: 0 0 2px 0 #555555;
  float: left;
  width: 290px; }
  article.featured h1 {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 7.5px; }
  article.featured p {
    font-size: 13px;
    line-height: 17.55px; }
  article.featured.first {
    clear: both; }
  article.featured.second, article.featured.third {
    margin-left: 15px; }
  article.featured img {
    border: 1px solid #aaaaaa;
    margin: 0 0 7.5px;
    width: 100%; }

.widget {
  background: white;
  margin: 0 0 15px;
  opacity: 0.9;
  padding: 10px;
  text-align: justify;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 2px 0 #555555;
  -o-box-shadow: 0 0 2px 0 #555555;
  -moz-box-shadow: 0 0 2px 0 #555555;
  -webkit-box-shadow: 0 0 2px 0 #555555;
  width: 290px; }
  .widget h1 {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 7.5px; }
  .widget p {
    font-size: 13px;
    line-height: 17.55px; }

section#articles {
  clear: both;
  float: left; }

#sidebar {
  float: left;
  margin: 0 0 0 15px; }

header {
  background: #222222;
  color: white;
  margin: 0 0 15px;
  border: 1px solid #black;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px;
  text-align: center;
  opacity: 0.9;
  font-size: 14px;
  line-height: 18.9px;
  font-family: Arial, Helvetica, sans-serif;
  width: 940px; }
  header nav ul li {
    display: inline;
    margin: 0 30px;
    text-transform: uppercase; }
    header nav ul li a {
      border-bottom: 3px solid transparent;
      color: white;
      padding: 0 0 3.75px 0;
      transition: color 0s linear;
      transition: border 0.2s linear;
      -o-transition: border 0.2s linear;
      -moz-transition: border 0.2s linear;
      -webkit-transition: border 0.2s linear; }
      header nav ul li a:hover {
        color: white;
        border-color: #4e90d4; }

footer {
  background: #222222;
  color: white;
  margin: 0 0 15px;
  border: 1px solid #black;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px;
  text-align: center;
  opacity: 0.9;
  font-size: 12px;
  line-height: 12px;
  clear: both;
  font-family: Verdana, sans-serif, Helvetica;
  width: 940px; }
