$spacer: 15px;
$text-padding: 10px;
$text-size-very-large: 35px;
$text-size-large: 20px;
$text-size-medium: 15px;
$text-size-default: 14px;
$text-size-tiny: 12px;

$page-width: 900px;
$widget-width: $page-width / 3 - 2/3 * $spacer;
$article-width: $page-width -$widget-width - $spacer;

$color-black: #000;
$color-dark-gray: #222;
$color-gray: #555;
$color-blue: #3A84CF;
$color-light-blue: #4E90D4;
$color-green: #2EB82E;
$color-white: #fff;

$opacity-default: 1;

$images: '../images';

@mixin text-layout($padding, $alignment: justify){
  padding: $padding;
  text-align: $alignment;
}

@mixin text-size($font-size, $line-height: $font-size * 1.35){
  font-size: $font-size;
  line-height: $line-height;
}

@mixin text-box($background-color, $text-color, $border-color){
  background: $background-color;
  color: $text-color;
  margin: 0 0 $spacer;

  @include opacity($opacity-default);
  @include text-layout($text-padding, justify);
  @include border-radius(5px);
  @include box-shadow(0, 0, 2px, 0, $border-color);

  h1 {
    @include text-size($text-size-large, $text-size-large);
    margin: 0 0 $spacer/2;
  }

  p {
    @include text-size($text-size-default);
    color: $color-gray;
  }
}

@mixin text-box-white {
  @include text-box($color-white, $color-dark-gray, $color-gray);
}

@mixin text-box-dark {
  @include text-box($color-dark-gray, $color-white, $color-black);
}

@mixin border-radius($radius){
  border-radius: $radius;
  -o-border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin box-shadow($horizontal-offset, $vertical-offset, $blur, $spread, $color){
  box-shadow: $horizontal-offset $vertical-offset $blur $spread $color;
  -o-box-shadow: $horizontal-offset $vertical-offset $blur $spread $color;
  -moz-box-shadow: $horizontal-offset $vertical-offset $blur $spread $color;
  -webkit-box-shadow: $horizontal-offset $vertical-offset $blur $spread $color;
}

@mixin transition($property, $duration, $type){
  transition: $property $duration $type;
  -o-transition: $property $duration $type;
  -moz-transition: $property $duration $type;
  -webkit-transition: $property $duration $type;
}

@mixin opacity($opacity){
  opacity: $opacity;
}

html {
  background: url(#{$images}/background.jpg) no-repeat center center fixed;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

body {
  @include text-size($text-size-default);

  color: $color-dark-gray;
  font-family: 'PT Sans', sans-serif;
  margin: $spacer 0 0;
}

a {
  @include transition(color, 0.25s, linear);

  color: $color-blue;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: $color-green;
  }
}

#page {
  margin: 0 auto;
  width: $page-width;
}

article.full {
  @include text-box-white;

  float: left;
  width: $article-width - 2 * $text-padding;

  h1, h2 {
    @include text-size($text-size-very-large, $text-size-very-large);
    font-family: 'Montserrat';
    font-weight: normal;
    margin: 0 0 $spacer;
    padding: 0;
  }

  h2 {
    @include text-size($text-size-large, $text-size-large);

    margin: 0 0 $spacer / 2;
    padding: 0;
  }

  p {
    @include text-size($text-size-medium);
    margin: 0 0 $spacer;
  }

  iframe {
    margin: $spacer auto;
    display: block;
  }

  .highlight {
    @include border-radius(5px);
    @include text-layout($text-padding);

    background: $color-dark-gray;
    margin: $spacer;
  }
}

article.featured {
  @include text-box-white;

  float: left;
  width: $widget-width - 2 * $text-padding;

  &.first {
    clear: both;
  }

  &.second, &.third {
    margin-left: $spacer;
  }

  img {
    @include box-shadow(0, 0, 1px, 0px, $color-black);

    margin: 0 0 $spacer/2;
    width: 100%;
  }
}

.widget {
  @include text-box-dark;

  width: $widget-width - 2 * $text-padding;

  p {
    color: $color-white;
  }
}

section#articles {
  clear: both;
  float: left;
}

#sidebar {
  float: left;
  margin: 0 0 0 $spacer;
}

header {
  @include text-box-dark;
  @include text-size($text-size-default);
  @include text-layout($text-padding, center);
  font-family: Arial, Helvetica;

  width: $page-width - 2 * $text-padding;

  nav {
    ul {
      li {
        display: inline;
        margin: 0 2 * $spacer;
        text-transform: uppercase;

        a {
          @include transition(border, 0.2s, linear);

          border-bottom: 3px solid transparent;
          color: $color-white;
          padding: 0 0 $spacer / 4 0;

          &:hover {
            color: $color-white;
            border-color: $color-light-blue;
          }
        }
      }
    }
  }

  aside {
    float: right;
    margin: -1.4*$spacer 0 0;

    img {
      @include transition(opacity, 0.25s, linear);

      padding: 0 0 0 $spacer / 5;
      opacity: 0.65;

      &:hover {
        opacity: 1;
      }
    }
  }
}

footer {
  @include text-box-dark;
  @include text-size($text-size-tiny, $text-size-tiny);

  clear: both;
  font-family: Arial, Helvetica;
  text-align: center;
  width: $page-width - 2 * $text-padding;
}
