$spacer: 15px;
$text-padding: 15px;
$text-padding-minor: 10px;

$text-size-huge: 30px;
$text-size-very-large: 25px;
$text-size-larger: 23px;
$text-size-large: 20px;
$text-size-medium: 18px;
$text-size-default: 13px;
$text-size-small: 12px;

$page-width: 900px;
$widget-width: $page-width / 3 - 2/3 * $spacer;
$article-width: $page-width -$widget-width - $spacer;

$color-dark-gray: #333;
$color-gray: #4a4a4a;
$color-light-gray: #8a8a8a;

$color-blue: #3A84CF;
$color-white: #fff;
$color-soft-white: #eee;

$images: '../images';

@mixin text-box($background-color, $text-color){
  background: $background-color;
  color: $text-color;
  padding: $text-padding;
  text-align: justify;
}

@mixin text-size($font-size, $line-height: $font-size * 1.35){
  font-size: $font-size;
  line-height: $line-height;
}

@mixin transition($property, $duration, $type){
  transition: $property $duration $type;
  -o-transition: $property $duration $type;
  -moz-transition: $property $duration $type;
  -webkit-transition: $property $duration $type;
}

@mixin text-box-white(){
  @include text-box($color-white, $color-gray);
}

@mixin text-box-gray(){
  @include text-box($color-gray, $color-white);

  background: url(#{$images}/background2.png);
  opacity: 0.75;
}

@mixin text-box-light-gray(){
  @include text-box($color-soft-white, $color-gray);
}

@mixin box-shadow(){
  box-shadow: 0 1px 5px 0 $color-gray;
  -o-box-shadow: 0 1px 5px 0 $color-gray;
  -moz-box-shadow: 0 1px 5px 0 $color-gray;
  -webkit-box-shadow: 0 1px 5px 0 $color-gray;
}

body {
  background: url(#{$images}/background.png);
  font-family: sans-serif;
  margin: $spacer 0 0;
}

a {
  @include transition(color, 0.25s, linear);

  color: $color-blue;
  text-decoration: none;

  &:hover {
    color: $color-gray;
  }
}

h1, h2 {
  font-family: 'Montserrat';
  font-weight: normal;
  margin: 0 0 $spacer;
}

h2 {
  margin: 0;
}

p {
  margin: $spacer 0 0;
}

.box-white {
  //TODO:cleanup
  @include text-box($color-white, $color-gray);
}

.box-light-gray {
  //TODO:cleanup
  @include text-box($color-soft-white, $color-gray);
}

#page {
  margin: 0 auto;
  width: $page-width;
}

header#nav {
  @include text-box-gray;
  @include text-size($text-size-larger, $text-size-larger);

  float: left;
  margin: 0 0 $spacer;
  width: $page-width - 2 * $text-padding;

  h1 {
    float: left;
    margin: 0 2 * $spacer 0 0;
  }

  nav {
    float: left;

    ul {
      li {
        display: inline;
        font-family: 'Ropa Sans', sans-serif;
        margin: 0 1.25 * $spacer;
        text-transform: uppercase;

        a:hover {
          color: $color-white;
        }
      }
    }
  }
}

article {
  @include box-shadow;

  margin: 0 0 $spacer;

  p {
    @include text-size($text-size-default);
  }
}

article.teaser {
  @include text-box-white;

  float: left;
  width: $widget-width - 2 * $text-padding;

  h1 {
    @include text-size($text-size-medium, $text-size-medium);
    margin: 0 0 $spacer / 2;
  }

  p {
    margin: 0;
  }

  &.first {
    clear: both;
  }

  &.second, &.third {
    margin-left: $spacer;
  }

  img {
    margin: 0 0 $spacer / 2;
    width: 100%;
  }
}

section#articles {
  float: left;
  width: $article-width;
}

article.post {
  float: left;
  width: $article-width;

  .text {
    @include text-box-white;
  }

  header, aside {
    @include text-size($text-size-small, $text-size-small);

    color: $color-light-gray;
  }

  aside.comments {
    @include text-box-light-gray;
  }

  h1 {
    @include text-size($text-size-huge, $text-size-huge);
  }

  h2 {
    @include text-size($text-size-very-large, $text-size-very-large);

    color: $color-blue;
  }
}

aside#sidebar {
  float: left;
  margin: 0 0 0 $spacer;
}

article.widget {
  @include text-box-white;

  padding: 0 0 $text-padding;
  width: $widget-width;

  h1 {
    @include text-box-gray;
    @include text-size($text-size-large, $text-size-large);

    font-family: 'Ropa Sans', sans-serif;
    padding: $text-padding-minor;
  }

  p {
    padding: 0 $text-padding;
  }
}

#bottom {
  @include text-box-gray;

  clear: both;
  font-family: 'Montserrat';
  font-size: 12px;
  padding: $spacer 0;

  footer {
    margin: 0 auto;
    padding: $spacer 0 0;
    text-align: center;
    width: $page-width;
  }
}
