$spacer: 15px;
$text-padding: 10px;
$text-size: 12px;

$page-width: 960px;
$widget-width: $page-width / 3 - 2/3 * $spacer;
$article-width: $page-width -$widget-width - $spacer;

$color-white: #fff;
$color-light-gray: #ccc;
$color-gray: #666;
$color-dark-gray: #333;
$color-green: #4a0;

$images: '../images';

@mixin text-layout($padding, $alignment: justify){
  padding: $padding;
  text-align: $alignment;
}

@mixin text-size($font-size: $text-size, $line-height: $font-size * 1.5){
  font-size: $font-size;
  line-height: $line-height;
}

@mixin border-radius($radius){
  border-radius: $radius;
  -moz-border-radius: $radius;
  -khtml-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin box-shadow($horizontal-offset, $vertical-offset, $blur, $spread, $color){
  box-shadow: $horizontal-offset $vertical-offset $blur $spread $color;
  -moz-box-shadow: $horizontal-offset $vertical-offset $blur $spread $color;
  -webkit-box-shadow: $horizontal-offset $vertical-offset $blur $spread $color;
}

html {
  background: url(#{$images}/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: $color-dark-gray;
  font-family: Arial, Helvetica, sans-serif;
  margin: $spacer 0 0;

  @include text-size();
}

a {
  color: $color-dark-gray;
  text-decoration: none;

  &:active {

  }
  &:visited {

  }
  &:hover {
    color: $color-green;
  }
}

#page {
  margin: 0 auto;
  width: $page-width;
}

header {
  background: $color-dark-gray;
  color: $color-white;
  height: 60px;
  margin: 0 0 $spacer;
  font-family: Verdana, sans-serif, Helvetica;
  width: $page-width - 2 * $text-padding;
  @include text-layout($text-padding);
  @include border-radius(5px);
}

article {
  background: $color-white;
  float: left;
  margin: 0 0 $spacer;
  width: $article-width - 2 * $text-padding;

  @include text-layout($text-padding);
  @include border-radius(5px);
  @include box-shadow(0, 0, 2px, 0, $color-gray);

  h1 {
    @include text-size(30px, 30px);
    margin: 0 0 $spacer;
    padding: 0;
  }

  p {
    @include text-size(13px);
  }

  iframe {
    margin: $spacer auto;
    display: block;
  }

  .highlight {
    background: $color-dark-gray;
    margin: $spacer;
    @include text-layout($text-padding);
    @include border-radius(5px);
  }
}

article.featured {
  width: $widget-width - 2 * $text-padding;

  &.first {
    clear: both;
  }

  &.second, &.third {
    margin-left: $spacer;
  }

  img {
    border: 1px solid $color-light-gray;
    margin: 0 0 $spacer/2;
    width: 100%;
  }

  h1 {
    @include text-size(20px, 20px);
    margin: 0 0 $spacer/2;
  }

  p {
    @include text-size();
  }
}

.widget {
  background: $color-white;
  margin: 0 0 $spacer;
  width: $widget-width - 2 * $text-padding;

  @include text-layout($text-padding);
  @include border-radius(5px);
  @include box-shadow(0, 0, 2px, 0, $color-gray);

  h1 {
    @include text-size(20px, 20px);
    margin: 0 0 $spacer/2;
  }

  p {
    @include text-size();
  }
}

section#articles {
  clear: both;
  float: left;
}

#sidebar {
  float: left;
  margin: 0 0 0 $spacer;
}

footer {
  background: $color-dark-gray;
  clear: both;
  color: $color-white;
  font-family: Verdana, sans-serif, Helvetica;
  font-size: 11px;
  line-height: 11px;
  margin: 0 0 $spacer;
  width: $page-width - 2 * $text-padding;

  @include text-layout($text-padding, center);
  @include text-size(11px, 11px);
  @include border-radius(5px);
}
