html {
  background: url(../images/background3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px 0 0;
  font-size: 13px;
  line-height: 17.55px; }

a {
  color: #137400;
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    text-decoration: underline; }

#page {
  margin: 0 auto;
  width: 960px; }

header {
  background: #333333;
  color: #f5f9ff;
  height: 60px;
  margin: 0 0 15px;
  font-family: Verdana, sans-serif, Helvetica;
  width: 940px;
  padding: 10px;
  text-align: justify;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px; }

article.full {
  background-image: linear-gradient(bottom, #f5f9ff 100%, #fdfdfd 0%);
  background-image: -o-linear-gradient(bottom, #f5f9ff 100%, #fdfdfd 0%);
  background-image: -moz-linear-gradient(bottom, #f5f9ff 100%, #fdfdfd 0%);
  background-image: -webkit-linear-gradient(bottom, #f5f9ff 100%, #fdfdfd 0%);
  background-image: -ms-linear-gradient(bottom, #f5f9ff 100%, #fdfdfd 0%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, #f5f9ff), color-stop(0, #fdfdfd));
  margin: 0 0 15px;
  padding: 10px;
  text-align: justify;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 2px 0 #555555;
  -moz-box-shadow: 0 0 2px 0 #555555;
  -webkit-box-shadow: 0 0 2px 0 #555555;
  float: left;
  width: 615px; }
  article.full h1 {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 7.5px; }
    article.full h1 a {
      color: #333333;
      transition: color 0.25s ease-in;
      -o-transition: color 0.25s ease-in;
      -moz-transition: color 0.25s ease-in;
      -webkit-transition: color 0.25s ease-in; }
      article.full h1 a:hover {
        color: #137400;
        text-decoration: none; }
  article.full p {
    font-size: 13px;
    line-height: 17.55px; }
  article.full h1, article.full h2 {
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 15px;
    padding: 0; }
  article.full h2 {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 7.5px;
    padding: 0; }
  article.full p {
    font-size: 14px;
    line-height: 18.9px; }
  article.full iframe {
    margin: 15px auto;
    display: block; }
  article.full .highlight {
    background: #333333;
    margin: 15px;
    padding: 10px;
    text-align: justify;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px; }

article.featured {
  background-image: linear-gradient(bottom, #f5f9ff 100%, #fdfdfd 0%);
  background-image: -o-linear-gradient(bottom, #f5f9ff 100%, #fdfdfd 0%);
  background-image: -moz-linear-gradient(bottom, #f5f9ff 100%, #fdfdfd 0%);
  background-image: -webkit-linear-gradient(bottom, #f5f9ff 100%, #fdfdfd 0%);
  background-image: -ms-linear-gradient(bottom, #f5f9ff 100%, #fdfdfd 0%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, #f5f9ff), color-stop(0, #fdfdfd));
  margin: 0 0 15px;
  padding: 10px;
  text-align: justify;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 2px 0 #555555;
  -moz-box-shadow: 0 0 2px 0 #555555;
  -webkit-box-shadow: 0 0 2px 0 #555555;
  float: left;
  width: 290px; }
  article.featured h1 {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 7.5px; }
    article.featured h1 a {
      color: #333333;
      transition: color 0.25s ease-in;
      -o-transition: color 0.25s ease-in;
      -moz-transition: color 0.25s ease-in;
      -webkit-transition: color 0.25s ease-in; }
      article.featured h1 a:hover {
        color: #137400;
        text-decoration: none; }
  article.featured p {
    font-size: 13px;
    line-height: 17.55px; }
  article.featured.first {
    clear: both; }
  article.featured.second, article.featured.third {
    margin-left: 15px; }
  article.featured img {
    border: 1px solid #aaaaaa;
    margin: 0 0 7.5px;
    width: 100%; }

.widget {
  background-image: linear-gradient(bottom, #f5f9ff 100%, #fdfdfd 0%);
  background-image: -o-linear-gradient(bottom, #f5f9ff 100%, #fdfdfd 0%);
  background-image: -moz-linear-gradient(bottom, #f5f9ff 100%, #fdfdfd 0%);
  background-image: -webkit-linear-gradient(bottom, #f5f9ff 100%, #fdfdfd 0%);
  background-image: -ms-linear-gradient(bottom, #f5f9ff 100%, #fdfdfd 0%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, #f5f9ff), color-stop(0, #fdfdfd));
  margin: 0 0 15px;
  padding: 10px;
  text-align: justify;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 2px 0 #555555;
  -moz-box-shadow: 0 0 2px 0 #555555;
  -webkit-box-shadow: 0 0 2px 0 #555555;
  width: 290px; }
  .widget h1 {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 7.5px; }
    .widget h1 a {
      color: #333333;
      transition: color 0.25s ease-in;
      -o-transition: color 0.25s ease-in;
      -moz-transition: color 0.25s ease-in;
      -webkit-transition: color 0.25s ease-in; }
      .widget h1 a:hover {
        color: #137400;
        text-decoration: none; }
  .widget p {
    font-size: 13px;
    line-height: 17.55px; }

section#articles {
  clear: both;
  float: left; }

#sidebar {
  float: left;
  margin: 0 0 0 15px; }

footer {
  background: #333333;
  color: #f5f9ff;
  font-family: Verdana, sans-serif, Helvetica;
  margin: 0 0 15px;
  padding: 10px;
  text-align: center;
  font-size: 11px;
  line-height: 11px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  clear: both;
  width: 940px; }
