$spacer: 15px;
$text-padding: 15px;
$text-padding-minor: 10px;

$text-size-huge: 27px;
$text-size-very-large: 24px;
$text-size-large: 22px;
$text-size-medium: 16px;
$text-size-default: 14px;
$text-size-tiny: 13px;

$border-radius-default: 5px;
$photo-size: 300px;

$page-width: 950px;
$widget-width: $page-width / 3 - 2/3 * $spacer;

$color-white: #fcfcfc;
$color-soft-white: #eee;
$color-dark-white: #bbb;
$color-dark-gray: #333;
$color-gray: #4a4a4a;
$color-medium-gray: #5a5a5a;
$color-light-gray: #8a8a8a;
$color-blue: #397ac3;
$color-light-blue: #86c1ff;
$color-green: #61e83a;

$images: '../images';

$navbar-top-height: 60px;

@mixin border-radius($top-left, $top-right: $top-left, $bottom-right: $top-left, $bottom-left: $top-left) {
  border-radius: $top-left $top-right $top-left $bottom-left;
  -moz-border-radius: $top-left $top-right $top-left $bottom-left;
  -webkit-border-radius: $top-left $top-right $top-left $bottom-left;
}

@mixin box-shadow($length: 5px) {
  box-shadow: 0 1px $length 0 $color-gray;
  -o-box-shadow: 0 1px $length 0 $color-gray;
  -moz-box-shadow: 0 1px $length 0 $color-gray;
  -webkit-box-shadow: 0 1px $length 0 $color-gray;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

body {
  background: url(#{$images}/background-white.jpg);
  // Inline.
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: $navbar-top-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: normal;
}

.icon-calendar, .icon-user {
  opacity: 0.65;
}

.navbar-inner {
  border: 0;
}

header {
  margin: 0 0 $spacer 0;

  h1 {
    a, a:hover {
      color: $color-white;
      text-decoration: none;
    }

    .label-green {
      color: $color-green;
    }
  }

  .navbar .navbar-inner {
    background: url(#{$images}/background-dark.jpg);
    @include box-shadow(1px);
    // Inline.
    min-height: $navbar-top-height;

    .nav {
      margin: 0;

      li {
        line-height: $navbar-top-height;
        // Use percentage of base font variable.
        font-size: 16px;

        a {
          // Inline.
          color: $color-white;
          font-weight: bold;
          // Use default column width padding variable?
          padding: 0 20px;
        }

        a:hover {
          // Inline.
          color: $color-green;
          text-decoration: none;
        }
      }
    }
  }

  #image {
    // Set different resolutions for media devices.
    background: url(#{$images}/header-image.jpg) center no-repeat;
    border-top: 5px solid $color-blue;
    border-bottom: 4px solid $color-blue;
    display: block;
    height: 250px;
    width: 100%;
  }
}

footer {
  // Replace by navbarBackground
  background: #1b1b1b;
  padding: $spacer;

  p {
    color: $color-white;
    margin: 0;
  }
}

@mixin text-box($background-color, $text-color) {
  background: $background-color;
  color: $text-color;
  padding: $text-padding;
  text-align: justify;
}

@mixin text-size($font-size, $line-height: $font-size * 1.4) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin transition($property, $duration, $type) {
  transition: $property $duration $type;
  -o-transition: $property $duration $type;
  -moz-transition: $property $duration $type;
  -webkit-transition: $property $duration $type;
}

@mixin text-box-white() {
  @include text-box($color-white, $color-gray);
}

@mixin text-box-gray() {
  @include text-box($color-gray, $color-white);

  background: url(#{$images}/background-dark.jpg);
}

@mixin text-box-light-gray() {
  @include text-box($color-soft-white, $color-gray);
}

/*
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Ropa+Sans);


a {
  @include transition(color, 0.2s, linear);

  color: $color-blue;
  text-decoration: none;

  &:hover {
    color: $color-gray;
  }
}

a.dark {
  color: $color-light-gray;

  &:hover {
    color: $color-dark-gray;
  }
}

sub, sup {
  @include text-size($text-size-tiny, $text-size-tiny);
  margin: 0 1px;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

pre {
  white-space: pre-wrap;
}
*/

article {
  @include box-shadow;
  @include text-box-white;

  float: left;
  margin: 0 0 $spacer;

  h1 {
    @include text-size($text-size-huge, $text-size-huge);
  }

  h2 {
    @include text-size($text-size-very-large, $text-size-very-large);

    color: $color-medium-gray;
  }

  .youtube {
    margin: $spacer auto 0;
    display: block;
  }

  header, aside {
    @include text-size($text-size-tiny);
    color: $color-light-gray;

    span, a {
      line-height: 16px;
      margin: 0 $spacer 0 0;
      vertical-align: top;
    }
  }

  aside.comments {
    @include text-box-light-gray;

    margin: 0 -$spacer;
    margin-top: $spacer;
  }

  p.caption, figcaption {
    background: $color-soft-white;
    border-radius: 5px;
    margin: 0 2 * $spacer;
    padding: $text-padding-minor / 2;
  }

  p.quote, div.highlight {
    @include text-box($color-gray, $color-white);

    border-radius: 5px;
    margin: $spacer 1.5 * $spacer 0;
    padding: $text-padding-minor;
  }

  div.gist {
    margin: $spacer 0 0;
  }
}
