$spacer: 15px;
$text-padding: 15px;
$text-padding-minor: 10px;

$text-size-huge: 28px;
$text-size-very-large: 24px;
$text-size-large: 22px;
$text-size-medium: 19px;
$text-size-default: 14px;
$text-size-tiny: 13px;

$page-width: 900px;
$widget-width: $page-width / 3 - 2/3 * $spacer;
$article-width: $page-width -$widget-width - $spacer;

$color-white: #fff;
$color-soft-white: #eee;
$color-light-gray: #8a8a8a;
$color-gray: #4a4a4a;
$color-dark-gray: #333;
$color-blue: #3A84CF;
$color-light-blue: #4E90D4;

$images: '../images';

@mixin text-box($background-color, $text-color){
  background: $background-color;
  color: $text-color;
  padding: $text-padding;
  text-align: justify;
}

@mixin text-size($font-size, $line-height: $font-size * 1.4){
  font-size: $font-size;
  line-height: $line-height;
}

@mixin transition($property, $duration, $type){
  transition: $property $duration $type;
  -o-transition: $property $duration $type;
  -moz-transition: $property $duration $type;
  -webkit-transition: $property $duration $type;
}

@mixin text-box-white(){
  @include text-box($color-white, $color-gray);
}

@mixin text-box-gray(){
  @include text-box($color-gray, $color-white);

  background: url(#{$images}/background-dark.jpg);
  opacity: 0.75;
}

@mixin text-box-light-gray(){
  @include text-box($color-soft-white, $color-gray);
}

@mixin box-shadow(){
  box-shadow: 0 1px 5px 0 $color-gray;
  -o-box-shadow: 0 1px 5px 0 $color-gray;
  -moz-box-shadow: 0 1px 5px 0 $color-gray;
  -webkit-box-shadow: 0 1px 5px 0 $color-gray;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Ropa+Sans);

body {
  background: url(#{$images}/background-white.jpg);
  font-family: 'PT Sans', sans-serif;
  margin: $spacer 0 0;
}

a {
  @include transition(color, 0.2s, linear);

  color: $color-blue;
  text-decoration: none;

  &:hover {
    color: $color-gray;
  }
}

a.dark {
  color: $color-light-gray;

  &:hover {
    color: $color-dark-gray;
  }
}

h1, h2 {
  font-family: 'Montserrat';
  font-weight: normal;
  margin: 0 0 $spacer * 2 / 3;
  text-align: left;
}

h2 {
  margin: $spacer 0 0;
}

p, ul {
  margin: $spacer 0 0;
}

li {
  list-style-position: inside;
}

sub, sup {
  @include text-size($text-size-tiny, $text-size-tiny);
  margin: 0 1px;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

pre {
  white-space: pre-wrap;
}

#page {
  margin: 0 auto;
  width: $page-width;
}

header#nav {
  @include text-box-gray;
  @include text-size($text-size-very-large, $text-size-very-large);

  float: left;
  margin: 0 0 $spacer;
  width: $page-width - 2 * $text-padding;

  h1 {
    float: left;
    margin: 0 2 * $spacer 0 0;
    position: absolute;

    a, a:hover {
      color: $color-white;
    }
  }

  nav {
    text-align: center;

    ul {
      margin: 0;

      li {
        display: inline;
        font-family: 'Ropa Sans', sans-serif;
        margin: 0 1.25 * $spacer;
        text-transform: uppercase;

        a:hover {
          color: $color-white;
        }
      }
    }
  }
}

article {
  @include box-shadow;

  margin: 0 0 $spacer;

  p, li {
    @include text-size($text-size-default);

    a {
      font-weight: bold;
    }
  }

  iframe {
    margin: $spacer auto 0;
    display: block;
  }
}

article.teaser {
  @include text-box-white;

  float: left;
  width: $widget-width - 2 * $text-padding;

  h1 {
    @include text-size($text-size-medium, $text-size-medium);
    margin: 0 0 $spacer / 2;
  }

  p {
    margin: 0;
  }

  &.first {
    clear: both;
  }

  &.second, &.third {
    margin-left: $spacer;
  }

  img {
    margin: 0 0 $spacer / 2;
    width: 100%;
  }
}

section#articles {
  float: left;
  width: $article-width;

  nav {
    @include text-box-gray;
    @include text-size(16px);

    clear: both;
    margin: 0 0 $spacer;
    text-align: right;

    ul {
      display: inline;

      li {
        display: inline;
      }
    }
  }
}

article.post {
  float: left;
  width: $article-width;

  .text {
    @include text-box-white;
  }

  header, aside {
    @include text-size($text-size-tiny);
    color: $color-light-gray;

    span, a {
      line-height: 16px;
      margin: 0 $spacer 0 0;
      vertical-align: top;
    }
  }

  aside.comments {
    @include text-box-light-gray;
  }

  h1 {
    @include text-size($text-size-huge, $text-size-huge);
  }

  h2 {
    @include text-size($text-size-very-large, $text-size-very-large);

    color: $color-blue;
  }

  p.caption {
    background: $color-soft-white;
    border-radius: 5px;
    margin: 0 2 * $spacer;
    padding: $text-padding-minor / 2;
  }

  p.quote, div.highlight {
    background: $color-gray;
    border-radius: 5px;
    color: $color-white;
    margin: $spacer 1.5 * $spacer 0;
    padding: $text-padding-minor;
  }

  p.center {
    text-align: center;
  }

  p.left {
    float: left;
  }

  p.right {
    float: right;
  }
}

aside#sidebar {
  float: left;
  margin: 0 0 0 $spacer;
}

article.widget {
  @include text-box-white;

  padding: 0 0 $text-padding;
  width: $widget-width;

  h1 {
    @include text-box-gray;
    @include text-size($text-size-large, $text-size-large);

    font-family: 'Ropa Sans', sans-serif;
    padding: $text-padding-minor;
  }

  p {
    padding: 0 $text-padding;
  }
}

#bottom {
  @include text-box-gray;
  @include text-size($text-size-default);

  clear: both;

  footer {
    margin: 0 auto;
    text-align: center;
    width: $page-width;

    p {
      margin: 0;
    }
  }
}

ul.dsq-widget-list {
  padding: 0 $text-padding-minor;

  a {
    @include text-size(15px);
    font-weight: normal;
  }

  li.dsq-widget-item {
    margin: 0;

    p {
      padding: 0;
      font-size: 100%;
    }
  }
}
