<link rel="stylesheet" type="text/css" href="/libs/fancybox/jquery.fancybox.css"/>
<link rel="stylesheet" type="text/css" href="/libs/fancybox/helpers/jquery.fancybox-buttons.css"/>
<script type="text/javascript" src="/libs/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/libs/fancybox/helpers/jquery.fancybox-buttons.js"></script>
<script type="text/javascript">
  $( document ).ready( function () {
    $( ".fancybox" ).fancybox( {
                                 helpers:{
                                   title:{
                                     type:'inside'
                                   },
                                   buttons:{}
                                 }
                               } );
  } );
</script>
