<article class="teaser first">
  <img src="/images/teaser_03.png"/>

  <h1><a href="#">Plentiful Options</a></h1>

  <p>This is some example content. WordPress is an extremely user friendly content management system for websites and
    blogs. Users can easily add and update text, images, video, audio and</p>
</article>

<article class="teaser second">
  <img src="/images/teaser_02.png"/>

  <h1><a href="#">Highly Customizable</a></h1>

  <p>This is some example content. WordPress is an extremely user friendly content management system for websites and
    blogs. Users can easily add and update text, images, video, audio and</p>
</article>

<article class="teaser third">
  <img src="/images/teaser_01.png"/>

  <h1><a href="#">Beautiful Solution</a></h1>

  <p>This is some example content. WordPress is an extremely user friendly content management system for websites and
    blogs. Users can easily add and update text, images, video, audio and</p>
</article>
