<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <meta name="robots" content="noodp,noydir"/>
  <meta name="author" content="{{site.author}}"/>
  <meta name="description" content="{{ site.description }}"/>
  <title>{{ site.title }}</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ropa+Sans"/>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  <!--<link rel="alternate" type="application/rss+xml" href="" title="" />-->
  {% include jquery.html %}
  {% include fancybox.html %}
  {% include analytics.html %}
</head>
<body>
<div id="page">
  <header id="nav">
    <h1><a href="/">{{ site.title }}</a></h1>

    <nav>
      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/projects.html">Projects</a></li>
        <li><a href="/about.html">About</a></li>
      </ul>
    </nav>
  </header>

  <!--<article class="teaser first">-->
  <!--<img src="/images/teaser_03.png"/>-->

  <!--<h1><a href="#">Plentiful Options</a></h1>-->

  <!--<p>This is some example content. WordPress is an extremely user friendly content management system for websites and-->
  <!--blogs. Users can easily add and update text, images, video, audio and</p>-->
  <!--</article>-->

  <!--<article class="teaser second">-->
  <!--<img src="/images/teaser_02.png"/>-->

  <!--<h1><a href="#">Highly Customizable</a></h1>-->

  <!--<p>This is some example content. WordPress is an extremely user friendly content management system for websites and-->
  <!--blogs. Users can easily add and update text, images, video, audio and</p>-->
  <!--</article>-->

  <!--<article class="teaser third">-->
  <!--<img src="/images/teaser_01.png"/>-->

  <!--<h1><a href="#">Beautiful Solution</a></h1>-->

  <!--<p>This is some example content. WordPress is an extremely user friendly content management system for websites and-->
  <!--blogs. Users can easily add and update text, images, video, audio and</p>-->
  <!--</article>-->

  <section id="articles">
    {{content}}
  </section>

  <aside id="sidebar">
    <article class="widget">
      <h1>About the author</h1>

      <p>Xavier Talpe is a software engineer currently working at Luciad. He develops Android applications for
        applications
        that require geo-spatial situational awareness.</p>
    </article>

    <article class="widget">
      <div id="popularthreads">
        <h1 class="dsq-widget-title">Most popular posts</h1>
        <script src="http://thirstyturtle.disqus.com/popular_threads_widget.js?num_items=5"
                type="text/javascript"></script>
      </div>
    </article>

    <!--<article class="widget">-->
      <!--<h1>Advertisement</h1>-->
    <!--</article>-->
  </aside>

</div>

<div id="bottom">
  <footer>
    <p>Copyright &copy; 2009 - 2012 Thirsty Turtle. All rights reserved.</p>
  </footer>
</div>

</body>
</html>
