<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noodp,noydir"/>
  <meta name="description" content="{{ page.description }}"/>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="css/reset.css" type="text/css"/>
  <link rel="stylesheet" href="css/style.css" type="text/css"/>
  <link rel="stylesheet" href="css/pygments.css" type="text/css"/>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push( ['_setAccount', 'UA-34183794-1'] );
    _gaq.push( ['_trackPageview'] );

    (function () {
      var ga = document.createElement( 'script' );
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName( 'script' )[0];
      s.parentNode.insertBefore( ga, s );
    })();
  </script>
</head>
<body>
<div id="page">
  <header>
    <!--<h1>Thirsty Turtle</h1>-->
    <nav>
      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <aside>
      <a href="http://github.com/XavierTalpe" target="_blank"><img src="images/icons/github-24x24.png"/></a>
      <a href="" target="_blank"><img src="images/icons/linkedin-24x24.png"/></a>
    </aside>
  </header>

  <article class="featured first">
    <img src="images/teaser_03.png"/>

    <h1><a href="#">Plentiful Options</a></h1>

    <p>This is some example content. WordPress is an extremely user friendly content management system for websites and
      blogs. Users can easily add and update text, images, video, audio and</p>
  </article>

  <article class="featured second">
    <img src="images/teaser_02.png"/>

    <h1><a href="#">Highly Customizable</a></h1>

    <p>This is some example content. WordPress is an extremely user friendly content management system for websites and
      blogs. Users can easily add and update text, images, video, audio and</p>
  </article>

  <article class="featured third">
    <img src="images/teaser_01.png"/>

    <h1><a href="#">Beautiful Solution</a></h1>

    <p>This is some example content. WordPress is an extremely user friendly content management system for websites and
      blogs. Users can easily add and update text, images, video, audio and</p>
  </article>

  <section id="articles">
    {{content}}
  </section>

  <div id="sidebar">
    <div class="widget">
      <h1>About the author</h1>

      <p>Xavier Talpe is a software engineer currently working at Luciad. He develops Android applications for
        applications
        that require geo-spatial situational awareness.</p>
    </div>

    <div class="widget">
      <h1>My Widget</h1>

      <p>All crazy stuff about lorem ipsum dolor sit amet.</p>
    </div>

    <div class="widget">
      <h1>My Widget</h1>

      <p>All crazy stuff about lorem ipsum dolor sit amet.</p>
    </div>
  </div>

  <footer>
    <small>Copyright &copy; 2009 - 2012 Thirsty Turtle. All rights reserved.</small>
  </footer>

</div>
</body>
</html>
